doctype html
html
  head
    title Tailwind CSS
    link(href='./style.css' rel='stylesheet')
    script(src='./app.js')
    body.bg-sky-50.flex.justify-center
      .mt-10.p-5.bg-white.shadow.rounded-lg
        p.font-mono.text-xl.text-green-500 Hello Tailwind CSS!
